line-height: 16px;
font-family: '돋움',Dotum,Helvetica,AppleGothic,sans-serif;
color: #4b4e5a;
cursor: default;
font-size: 100%;
margin: 0;
padding: 0;
border: 0;
position: relative;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background-color: #fff;





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<




</body>
</html>